# Expo
.expo/
.expo-shared/

# React Native / Metro bundler cache
*.packager
*.iml
*.hprof
*.orig
*.log

# node modules
node_modules/

# macOS
.DS_Store

# Android
/android/app/build/
/android/.gradle/
/android/.idea/

# iOS
/ios/build/
/ios/Pods/
/ios/*.xcworkspace
xcuserdata/

# VSCode
.vscode/

# Env files
.env
